button:hover {
  background-color: rgba(180, 180, 180, 0.05);
}

.history li:hover {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}

.history li:hover .fa-trash {
  opacity: 1;
  color: #fff;
}

.fa-trash:hover {
  color: #f87171 !important;
}
